/*STRUKTURA STRONY*/

body {
	background-color: #333333;
	color: #eeeeee;
}

#container{
	padding: 0 10% 0 10%;
		
}

#header{
	width: 70%;
	padding: 0 15% 0 15%;
	display: inline-block;
}

h1{
	font-size:55px;
	font-weight: 800;
	letter-spacing: 4px;
}
#navigation{
	width: 60%;
	display: inline-block;
}

#wpis-danych{	
	padding: 3% 0 3% 0;
    border-radius: 20px 20px 20px 20px;
    background-color: #222222;
}
input{
	background-color: #444444;
	border: 2px solid #111111;
	color:#cccccc
}
button{
	background-color: #888888;
	border: 2px solid #111111;
	color:#000000;
}
button:hover{
	background-color: #666666;
	border: 2px solid #000000;
	cursor:pointer;
}
input[type=range]{
	color: #cccccc;
}
#lat{
	margin: 3px 0 3px 0;
}
#lng{
	margin: 3px 0 3px 0;
}
#map-show{
	margin: 3px 0 3px 0;
}
#date{
	margin: 3px 0 3px 0;
}
#time{
	margin: 3px 0 3px 0;
}
#now{
	margin: 3px 0 3px 0;
}
#star-range{
	margin: 3px 0 3px 0;
}
#starname-range{
	margin: 3px 0 3px 0;
}
#conname-range{
	margin: 3px 0 3px 0;
}

.flex-100{
	display: flex;
	width: 100%;
	flex-direction: row;
}

.tytuly{
	width:50%;
	padding:0% 12% 2% 12%;
}

.flex-item{
	width:80%;
	padding:0% 12% 3% 12%;
}

#now{
	margin-top:5px;
	padding:3px;
}

#miej_czas{
		
}

#ustawienia{
	
}

#submit{
	margin:auto;
	margin-top:15px;
	padding: 10px;
	font-size: 25px;
	font-weight: 600;
}

a {  color:inherit; }

#map{
	margin: auto;
	width: 80%;
	height: 300px;
	margin-top: 20px;
	margin-bottom:20px;
}

#canvas{	
	border: 1px solid #FFFFFF;
	background-color: #000000;
	margin-top: 25px;
	margin-bottom: 40px;
}
 #canvas-parent{
	margin: 3% 0 0 0;
    background-color: #222222;
    padding: 3% 0 3% 0;
	border-radius: 20px 20px 20px 20px;
	
 }
 #credit{
	 font-size:14px;
	 padding: 2px;
 }

 #credit-wrapper{
	margin: 3% 0 0 0;
    background-color: #222222;
    padding: 3% 0 3% 0;
    border-radius: 20px 20px 20px 20px;
 }
